{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <ul style="margin-top: 20px;" class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a style="border-right: 1px solid #fff;" class="nav-link btn btn-primary rounded-0" aria-current="page" href="#">item</a>
                </li>
                <li class="nav-item">
                    <a style="border-right: 1px solid #fff;" class="nav-link btn btn-primary rounded-0" href="#">item</a>
                </li>
                <li class="nav-item">
                    <a style="border-right: 1px solid #fff;" class="nav-link btn btn-primary rounded-0" href="#">item</a>
                </li>
                <li class="nav-item">
                    <a style="border-right: 1px solid #fff;"class="nav-link btn btn-primary rounded-0">item</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    {% if query %}
        Query: {{ query }}

        Results: {{ results.count }}
    {% endif %}
</div>
{% endblock %}