body {
    background-color: blue;
}

#search-bar {
    opacity: 0.95;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-button {
    opacity: 0.95;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}